/* bubbles for the front page pg i thought it'd be cool*/
.bubbles {
    width: 100%;
    height: 362px;
    opacity: 0;
    background-image:url(images/bubbles.png);
    animation: bubblemovement 10s ease-in;
    animation-iteration-count: 1;
    position: relative;
    z-index: 10;
}
  
@keyframes bubblemovement {
    0%  {
        opacity: 1;
        top: -100px;
    }
    50% {
        top: -1000px;
    }
    75% {
        top: -2000px;
    }
    100% {
        opacity: 0;
        top: -2500px;
    }
}

/* making the header move*/
.titlecard {
    animation-name: titlemovement;
    animation-duration: 15s;
    animation-timing-function: ease-out;
    position: relative;
    animation-iteration-count: 3;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform: translateX(-150px);
}

@keyframes titlemovement {
    0% {left: -700px; opacity: 0;}
    35%{left: 180px; opacity: 1;}
    75% {left: 1000px; opacity:0;}
    98%{opacity:0;}
    100%{left: 180px; opacity: 1;}
}

/* blinking nasa*/
.blinkingimg {
    width: 200px;
    height: 170px;
    background-image:url(images/nasalogo.png);
    animation-name: blinkimg;
    animation-duration: 5s;
    animation-timing-function: ease;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes blinkimg {
    0% {
        opacity: 0;
    }

    50% {
        opacity:1;
    }
    100% {
        opacity: 0;
    }
}

